@media only screen and (max-width: 1035px) {
    .custom-a-web{
        display: none;
    }
}


@media only screen and (min-width: 1035px) {
    .custom-a-mobile{
        display: none;
    }
}

#custom-firstname{
    margin-top:10px;
}

#custom-custom-control{
    padding-top:4px;
}

.custom-th-checkbox{
    width: 30px;
}

tr{
    cursor: pointer;
}

td{
    outline: 0!important;
    cursor: pointer;
}

.checkSingle{
    cursor: pointer!important;
}